
resumeParser_basedOnSample/.vs/Plug-ins/v15/Server/sqlite3/storage.ide
resumeParser_basedOnSample/.vs/Plug-ins/v15/Server/sqlite3/storage.ide
resumeParser_basedOnSample/obj/Release/Plug-ins.csprojResolveAssemblyReference.cache
